%%%-----------------------------------------------------------------------------
%%% @doc
%%% <HEADER_TITLE>
%%% @author <USER_NAME>
%%% @end
%%%-----------------------------------------------------------------------------

-module(<MODULE_NAME>).
-author("<USER_NAME>").